.create-ui-logo {top:auto;bottom:0;}
.create-ui-toggle {padding:0;}
.create-ui-toolbar-wrapper {right:auto;top:auto;bottom:0;min-height:0;padding:5px 0;}
.create-ui-btn {margin-top:0;line-height:10px;}